.register__container{
    background: url(/src/assets/images/register.png);
    background-repeat: no-repeat;
    background-color: #4DAD95;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: right;
}

.register__wrapper{
    margin: auto 250px auto auto;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.register__form__box{
    padding: 50px;
}

.register__titles, .register__form{
    margin: 0 10px;
}

.register__titles h1{
    font-size: 36px;
    text-align: center;
    color: #4CAD95;
    margin: 20px 0px;
}

.register__titles h2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.register__form .register__input__box{
    margin: 10px 0;
}

.register__form .register__input__title{
    font-size: 15px;
    margin-bottom: 10px;
}

.register__input__box input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid #0009;
    border-radius: 10px;
    font-size: 15px;
}

.register__Button{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 14px 120px;
    background-color: #4CAD95;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer; 
    transition: all 0.8s;
    font-weight: 600;
    font-size: 16px;
}

.register__Button:hover{
    background-color: #296F5D;
}

p.register__error-message{
    color: red;
    font-size: 15px;
    font-weight: bold;
    min-height: 16px;
    margin: 5px 0;
}

.register__form .login__link{
    text-align: center;
    padding: 20px;
}

.login__link p{
    font-size: 15px;
    color: #000;
}

.login__link p a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.login__link p a:hover{
    text-decoration: underline;
}

@media (max-width: 1280px) {
    .register__container{
        background: #4CAD95;
    }

    .register__wrapper{
        margin: auto 20px;
    }
    
    .register__form__box{
        margin: 0 10px;
        padding: 20px;
    }
    
    .register__titles, .register__form{
        margin: 0 5px;
    }
    
    .register__titles h1{
        font-size: 24px;
    }

    .register__titles h2{
        font-size: 15px;
    }
    
    .register__form .register__input__box{
        margin: 20px 0;
    }

    .register__form .register__input__title{
        margin-bottom: 8px;
    }

    .register__input__box input{
        height: 40px;
        font-size: 15px;
    }

    .register__Button{
        font-size: 12px;
        padding: 14px 80px;
    }

    .login__link p{
        font-size: 12px;
    }
}

@media (max-width: 1280px) and (max-height: 768px) {
    .register__container{
        background: #4CAD95;
    }

    .register__wrapper{
        margin: auto 20px;
    }

    .register__form__box{
        height: 100%;
        margin: 0 20px;
        padding: 20px;
    }

    .register__titles h1{
        margin: 8px 0;
    }

    .register__titles h2{
        font-size: 14px
    }

    .register__form{
        margin: 0 5px;
    }

    .register__form .register__input__box{
        margin: 10px 0;
    }

    .register__form .register__input__title{
        font-size: 12px;
        margin-bottom: 8px;
    }

    .register__input__box input{
        height: 30px;
    }

    .register__Button{
        font-size: 10px;
        padding: 14px 80px;
    }

    .login__link p{
        font-size: 12px;
    }
}