.welcome-container{
    width: 80%;
    margin: 80px auto;
    padding: 56px;
    background-color: #629689;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.welcome-content h1{
    margin-bottom: 1.875rem;
    color: white;
}

.welcome-content p{
    color: white;
    line-height: 35px;
    font-weight: 400;
}

.welcome-image img{
    width: 280px;
}