footer {
    background-color: #4CAD95;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    font-size: 16px;
}

.row_1 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-bottom: 1rem;
}

.row_2 {
    align-items: center;
    justify-content: center;
    color: #fff;
}

.logo_container {
    display: flex;
}

.footer_nav {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    margin: 0 200px;
    justify-content: center;
}

.footer__nav__item {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

.social_container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.social_item {
    background-color: #21433B;
    border-radius: 50%;
    margin: 0.8rem;
    border: none;
    width: 2.8rem;
    height: 2.8rem;
}

.social_item:hover{
    cursor: pointer;
    background-color: #197961;
    transition: 0.5s;
}

.social_item img {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem;
    padding: 0.3rem;
}

