main h1{
    color: black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.themes__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme__container{
    height: 100px;
    width: 340px;
    margin: 40px 70px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
}

.theme__color{
    margin: 20px;
    height: 60%;
    width: 10px;
}

.themes__title{
    width: 300px;
    margin: 40px 0;
}

.theme__container:hover{
    cursor: pointer;
    background-color: #C3C3C3;
}

.container-search {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.container-search input {
    border: none;
    border: 1.5px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 17px;
}